#my-cart-table > tbody > tr > td{
	vertical-align: middle;
}
#my-cart-table > tbody > tr > td > img{
	width:50px;
	height:50px
}
.my-product-quantity{
	width:70px
}
.badge-notify{
background:red;
position:relative;
top: -15px;
right: 10px;
}

.my-cart-icon-affix {
position: relative;
z-index: 999;
}