
{% load static %}
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Навигация</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-left topnav" href="/"><img src="{% static "img/icon.png" %}"></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li>
                        <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                            {{ user.first_name }}
                             <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            {% if not user.is_superuser %}
                                <li><a href="#">Профиль</a></li>
                                <li><a href="#">Мои заказы</a></li>
                            {% else %}
                                <li><a href="{% url 'material_create' %}">Материалы</a></li>
                                <li><a href="{% url 'coating_create' %}">Покрытия</a></li>
                                <li><a href="{% url 'size_create' %}">Размеры</a></li>
                            {% endif %}

                            <li>
                                <a type="button" data-toggle="modal" data-target="#modal_logout">
                                    Выход
                                </a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li>
                        <a type="button" data-toggle="modal" data-target="#modal_login">
                            Вход
                        </a>
                    </li>
                    <li>
                         <a href="{% url 'registration' %}">Регистрация</a>
                    </li>
                {% endif %}
                <li>
                    <a href="{% url 'get_categories' %}">Каталог</a>
                </li>
                {% if not user.is_superuser %}
                <li>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        Меню
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'create_personal_order' %}">Индивидуальный заказ</a>
                        </li>
                        <li>
                            <a href="/#contact">Обратная связь</a>
                        </li>
                    </ul>
                </li>
                    <li>
                        <a>
                        <span class="glyphicon glyphicon-shopping-cart my-cart-icon">
                        <span class="badge badge-notify my-cart-badge"></span>
                        </span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>