{% extends "base.html" %}

{% block rows %}

{% load static %}

<div class="container form">
    <div class="col-xs-12 col-sm-12">
    <h4>Добавление нового изделия</h4>
	<form method="POST" action="{% url 'product_add' category_id %}" >
         {% csrf_token %}
				<div class="row">
					<div class="form-group col-sm-6">
						<label for="inputName">Название</label>
						<input name="name" id="inputName" class="form-control" type="text">
					</div>
                </div>


				<div class="row">
					<div class="form-group col-sm-6">
						<label for="description">Описание</label>
						<textarea name="comment" class="form-control" id="description" rows="8"></textarea>
					</div>
				</div>

                <div class="row">
					<div class="form-group col-sm-6">
						<label for="inputPrice">Цена</label>
						<input name="price" id="inputPrice" class="form-control" type="number" min="0" value="0">
					</div>
                </div>
                <div class="row">
					<div class="form-group col-sm-6">
						<label for="inputAmount">Количество</label>
						<input name="amount" id="inputAmount" class="form-control" type="number" min="0" value="0">
					</div>
				</div>


				<div class="row">
					<div class="form-group col-sm-6">
						<label for="MaterialsMultiSelect">Материалы</label>
						{% for m in materials %}
							<br>
							<input name="materials[]" value="{{m.id}}" type="checkbox">{{m.name}}</input>
						{% endfor %}
					</div>
				</div>
                <div class="row">
					<div class="form-group col-sm-6">
						<label for="sizesMultiSelect">Размеры</label>
						{% for s in sizes %}
							<br>
							<input name="sizes[]" value="{{s.id}}" type="checkbox">{{s.length}} x {{ s.width }} x {{ s.height }}</input>
						{% endfor %}
					</div>
				</div>
                <div class="row">
					<div class="form-group col-sm-6">
						<label for="coversMultiSelect">Покрытия</label>
						{% for c in covers %}
							<br>
							<input name="covers[]" value="{{c.id}}" type="checkbox">{{c.name}}</input>
						{% endfor %}
					</div>
				</div>
                 <button type="submit" class="btn btn-primary">Создать</button>
	</form>
</div>
</div>
{% endblock %}