{% extends "base.html" %}

{% block rows %}
    <div class="catalog-header">
        <div class="col-lg-12">
            <h1>Авторизация</h1>
        </div>
    </div>
    <div class="container head">
        {% if form.errors %}
        <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
        {% endif %}
        <div class="row">
            <form action='{% url 'login_user' %}' method='post'>
                {% csrf_token %}
                <label for="username">Логин:</label>
                <input type="text" name="username" value="" id="username">
                <label for="password">Пароль:</label>
                <input type="password" name="password" value="" id="password">

                <input class="btn btn-default" type="submit">
                <input type="hidden" name="next" value="{{ next|escape }}" />
            </form>
        </div>
    </div>
{% endblock %}