{% extends "base.html" %}

{% block rows %}
{% load static %}

    <div class="catalog-header">
        <div class="col-lg-12">
                <h1>Продукция</h1>
        </div>
    </div>

    <div class = "container">
        <div class = "row">
            <img src = "{% static  "img/orn_gal.png"%}" class="img-responsive center-block" />
        </div>
    </div>
    <!--./Шапочка-->

    <!--Gallery catalogs --->
    <div class="container">
        <div class="row lib-panel">
         <form action="{% url 'category_add' %}">
            <button class="btn btn-primary btn-add">Добавить категорию</button>
         </form>
		{% for cat in category %}
            <div class="col-md-6">
                <div class="lib-panel">
                    <div class="row box-shadow">
                        <div class="col-md-6">
                            <img class="lib-img-show" src="../img/category/cat{{cat.id}}.jpg">
                        </div>
                        <div class="col-md-6">
                            <div class="lib-row lib-header">
                                <a href="{% url 'category_content' cat.id %}">{{cat.name}}</a>
                                <div class="lib-header-seperator"></div>
                            </div>
                            <div class="lib-row lib-desc">
                                <p>{{cat.description}}</p>
                            </div>
                        </div>
                       <form action="{% url 'category_edit' cat.id %}">
                            <button class="btn btn-success" >Редактировать</button>
                        </form>
                        <form action="{% url 'category_delete' cat.id %}">
                            <button class="btn btn-danger">Удалить</button>
                        </form>
                    </div>
                </div>
            </div>
		{% endfor %}
        </div>
    </div>
    <!--./Gallery catalogs --->

{% endblock %}