{% extends "base.html" %}

{% block rows %}

    {% load static %}

    <script type="text/javascript">
        function validate() {
            if (document.getElementById('isDelivered').checked) {
                document.getElementById("delivery_label").style.display = "initial";
                document.getElementById("delivery_address").style.display = "initial";

            } else {
                document.getElementById("delivery_label").style.display = "none";
                document.getElementById("delivery_address").style.display = "none";
            }
        }
    </script>
    <!--Шапочка -->
    <div class="catalog-header" xmlns="http://www.w3.org/1999/html">
        <div class="col-lg-12">
            <h1>Оформление индивидуального заказа</h1>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <img src="{% static "/img/orn_gal.png" %}" class="img-responsive center-block"/>
        </div>
    </div>
    <!--./Шапочка-->
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h4>Ваша заявка будет рассмотрена в ближайшее время</h4>
                    <hr>
                    <form class="form-group"
                          enctype="multipart/form-data"
                          method="POST"
                          action="{% url 'create_personal_order' %}">
                        {% csrf_token %}
                        {% if not user.is_authenticated %}
                            <label for="fam" class="required">Фамилия:</label>
                            <input required="true" type="text" class="form-control" name="surname" id="fam">

                            <label for="name" class="required">Имя:</label>
                            <input required="true" type="text" class="form-control" name="name" id="name">

                            <label for="email" class="required">E-mail:</label>
                            <input required="true" type="email" class="form-control" name="email" id="email">

                            <label for="telefon" class="required">Номер телефона:</label>
                            <input required="true" type="tel" class="form-control" name="telephone" id="telefon">
                        {% endif %}
                        <label for="info" class="required">Опишите требования к заказу:</label>
                        <textarea required="true" class="form-control " name="requirements" rows="5"
                                  id="info"></textarea>

                        <label for="attachments" class="control-label">Архив с приложением (в форматах
                            .zip,.rar,.7z,.tar.gz)</label>

                        <input required="true" id="attachments" name="attachments" type="file" class="file"
                               accept=".zip,.rar,.7z,.tar.gz"/>
                        <br>

                        <select class="form-control" name="payment">
                            <option value="Наличный расчет">Наличный расчет</option>
                            <option value="Безналичный расчет">Безналичный расчет</option>
                        </select>
                        <br>

                        <input type="checkbox" name="isDelivered" id='isDelivered' onchange="validate();"> Нужна доставка</input>
                        <br>
                        <label for="delivery_address" id="delivery_label" style="display: none">Адрес доставки</label>
                        <textarea class="form-control" id='delivery_address' name="delivery_address" rows="3" id="info"
                                  style="display: none"></textarea>

                        <br><br>
                        <input class="btn btn-primary center-block" type="submit" name="zakaz_submit"
                               value="Отправить"/>
                    </form>

                </div><!-- /.blog-post -->
            </div><!-- /.blog-main -->
        </div>
    </div>

{% endblock %}