{% extends "base.html" %}

{% block rows %}
{% load static %}

<div class="container form">
    <div class="col-xs-12 col-sm-12">
        <h4>Редактирование продукта</h4>
        <form method="POST" enctype="multipart/form-data" action="{% url 'edit_product' category_id product.id %}" >
            {% csrf_token %}
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="inputName">Название</label>
                    <input name="name" id="inputName" class="form-control" type="text" value="{{ product.name }}">
                </div>
            </div>

            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="description">Описание</label>
                    <textarea name="comment"
                              class="form-control"
                              id="description"
                              rows="8">{{ product.description }}</textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-sm-6">
                    <label for="image">Картинка</label>
                    <input type="file" name="image" id="image"/>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>

{% endblock %}