{% extends "base.html" %}

{% block rows %}
    {% load static %}

    <div class="container form">
        <div class="col-xs-12 col-sm-12">
            <h4>Редактирование категории</h4>
            <form method="POST" enctype="multipart/form-data" action="{% url 'category_edit' category.id %}">
                {% csrf_token %}
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="inputName">Название</label>
                        <input name="name" id="inputName" class="form-control" type="text" value="{{ category.name }}">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="description">Описание</label>
                        <textarea name="comment" class="form-control" id="description"
                                  rows="8">{{ category.description }}</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-sm-6">
                        <label for="image">Картинка</label>
                        <input type="file" name="image" id="image"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>

{% endblock %}