{% extends "base.html" %}

{% block rows %}

    {% load static %}

    <!--Шапочка -->
    <div class="catalog-header">
        <div class="col-lg-12">
            <h1>Оформление индивидуального заказа</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <img src="../img/orn_gal.png" class="img-responsive center-block"/>
        </div>
    </div>
    <!--./Шапочка-->
    <div class="container">
        <div class="card">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h4>Ваша заявка будет рассмотрена в ближайшее время</h4>
                    <hr>
                    <form class="form-group" enctype="multipart/form-data" method="POST" action="{% url 'order' %}">
                        {% csrf_token %}
                        <label for="fam" class="required">Фамилия:</label>
                        <input required="true" type="text" class="form-control" name="surname" id="fam">

                        <label for="name" class="required">Имя:</label>
                        <input required="true" type="text" class="form-control" name="name" id="name">

                        <label for="otch" class="required">Отчество:</label>
                        <input type="text" required="true" class="form-control" name="patronymic" id="otch">

                        <label for="email" class="required">E-mail:</label>
                        <input required="true" type="email" class="form-control" name="email" id="email">

                        <label for="telefon" class="required">Номер телефона:</label>
                        <input required="true" type="tel" class="form-control" name="telephone" id="telefon">

                        <label for="info" class="required">Опишите требования к заказу:</label>
                        <textarea required="true" class="form-control " name="requirements" rows="5" id="info"></textarea>

                        <label for="attachments" class="control-label">Архив с приложением (в форматах .zip,.rar,.7z,.tar.gz)</label>
                        <input required="true" id="attachments" name="attachments" type="file" class="file" accept=".zip,.rar,.7z,.tar.gz"/>

                        <input class="btn btn-primary center-block" type="submit" name="zakaz_submit"
                               value="Отправить"/>
                    </form>

                </div><!-- /.blog-post -->
            </div><!-- /.blog-main -->
        </div>
    </div>

{% endblock %}