{% extends "base.html" %}
{% block rows %}
    {% load static %}
    <div class="catalog-header">
        <div class="col-lg-12">
            <h1>Просмотр заказов</h1>
        </div>
    </div>

    <div class="well">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#gallery_orders" data-toggle="tab">Из каталога</a></li>
            <li><a href="#individ_orders" data-toggle="tab">Индивидуальные</a></li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div class="tab-pane active in" id="gallery_orders">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Пользователь</th>
                        <th>Позиции</th>
                        <th>Статус</th>
                        <th>Тип оплаты</th>
                        <th>Тип доставки</th>
                        <th>Адрес доставки</th>
                        <th>Дата</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.client.user.username }}</td>
                            <td>
                                <a href="{% url 'view_order' order.id %}">
                                    <button class="btn btn-primary ">Посмотреть</button>
                                </a>
                            </td>
                            <td>
                                {% if  order.status != 'Отменен' %}
                                    <select data-id="{{ order.id }}">
                                        {% if order.status == 'Изготовлен' %}
                                            <option value="Изготовлен" selected="selected">Изготовлен</option>
                                        {% else %}
                                            <option value="Изготовлен">Изготовлен</option>
                                        {% endif %}
                                        {% if order.status == 'Обрабатывается' %}
                                            <option value="Обрабатывается" selected="selected">Обрабатывается</option>
                                        {% else %}
                                            <option value="Обрабатывается">Обрабатывается</option>
                                        {% endif %}
                                        <option value="Отменен">Отменен</option>
                                    </select>
                                {% else %}
                                    Отменен
                                {% endif %}
                            </td>
                            <td>{{ order.payment_type }}</td>
                            {% if order.need_delivery %}
                                <td> Нужна</td>
                            {% else %}
                                <td> Не нужна</td>
                            {% endif %}
                            {% if  order.delivery_address == None %}
                                <td> -</td>
                            {% else %}
                                <td>{{ order.delivery_address }}</td>
                            {% endif %}
                            <td>{{ order.date }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            {% include 'view_personal_order_all.html' %}
        </div>
    </div>
    <script type='text/javascript' src="{% static "js/ajax_get_requirements.js" %}"></script>
    <script type='text/javascript' src="{% static "js/ajax_change_status_order.js" %}"></script>
{% endblock %}