{% extends "base.html" %}
{% block rows %}

    {% load static %}

    {% load staticfiles %}
    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <div class="catalog-header">
        <div class="col-lg-12">
            <h1>{{ product.name }}</h1>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <img src="{% static 'img/orn_product.png' %}" class="img-responsive center-block"/>
        </div>
    </div>

    <div class="container">
        <div class="card">
            <div class="container-fliud">
                <div class="wrapper row">
                    <div class="preview col-md-6">

                        <div class="preview-pic tab-content">
                            <div class="tab-pane active" id="pic-1"><img src="{{ product.product_image.url }}"/></div>
                            <!--div class="tab-pane" id="pic-2"><img src="/img/product/prod{{product.id}}/2.jpg" /></div>
                            <div class="tab-pane" id="pic-3"><img src="/img/product/prod{{product.id}}/3.jpg" /></div>
                            <div class="tab-pane" id="pic-4"><img src="/img/product/prod{{product.id}}/4.jpg" /></div>
                            <div class="tab-pane" id="pic-5"><img src="/img/product/prod{{product.id}}/5.jpg" /></div-->
                        </div>
                        <!--ul class="preview-thumbnail nav nav-tabs">
                            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="/img/product/prod{{product.id}}/1.jpg" /></a></li>
                            <li><a data-target="#pic-2" data-toggle="tab"><img src="/img/product/prod{{product.id}}/2.jpg" /></a></li>
                            <li><a data-target="#pic-3" data-toggle="tab"><img src="/img/product/prod{{product.id}}/3.jpg" /></a></li>
                            <li><a data-target="#pic-4" data-toggle="tab"><img src="/img/product/prod{{product.id}}/4.jpg" /></a></li>
                            <li><a data-target="#pic-5" data-toggle="tab"><img src="/img/product/prod{{product.id}}/5.jpg" /></a></li>
                        </ul-->
                    </div>

                    <div class="details col-md-6">
                        {% include 'product_info.html' %}
                        <!-- <p class="vote"><strong>95%</strong> покупателей одобряют <strong>(87 голосов)</strong></p> -->
                        {% if user.is_superuser %}
                            <form method="GET" action="{% url 'view_concrete_products' category_id product.id %}">
                                <button type="submit" class="btn btn-warning">Все изделия</button>
                            </form>
                            <br>
                            <form method="GET" action="{% url 'edit_product' category_id product.id %}">
                                <button type="submit" class="btn btn-success">Редактировать</button>
                            </form>
                            <br>
                        {% endif %}
                        <!-- <button class="like btn btn-default" type="button"><span class="fa fa-heart"></span></button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}